apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: nginx
  namespace: default
spec:
  replicas: 2
  revisionHistoryLimit: 2

  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause: { duration: 30s }
        - setWeight: 100

  selector:
    matchLabels:
      app: nginx

  template:
    metadata:
      labels:
        app: nginx
        namespace: default
    spec:
      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            - containerPort: 80

---
kind: Service
apiVersion: v1
metadata:
  name: "nginx"
  namespace: default
spec:
  selector:
    app: "nginx"
  ports:
    - protocol: "TCP"
      port: 80
      targetPort: 80